.DS_Store
node_modules/
**/node_modules/
**/dist/
**/.vite/
**/.wrangler/
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/coverage/
**/*.log
api/tmp/
terraform/terraform.tfvars
terraform/terraform.tfvars.json
.env
**/.env
**/.env.local
