.input {
  cursor: pointer;
  width: 140px;
}

.option {
  display: flex;
  align-items: center;
  gap: 0;
}

.optionIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 20px;
}
